
    <div class = "primary-container">
        <div class = "left-container">
            <div class = "parenthetical">
                <p class = "explanatoryParagraph">
                    Hello, I'm Dima. My cat is Charlotte. I'm very interested in the physical sciences and 
                    technology. I'm also a huge fan of AI. My goal is to go to graduate
                    school in physics one day. 
                </p>
                <p class = "explanatoryParagraph">
                    In the Age of Information, you'd think we'd be able
                    to figure out what is true and what is not easily. 
                    This seems not to be the case. I recommend:
                </p>
                <p class = "explanatoryParagraph">
                    For general news: 
                    <a class = "hyperlink-special" href = "https://www.youtube.com/user/PBSNewsHour">PBS NewsHour</a>
                </p>
                <p class = "explanatoryParagraph">
                    For political commentary: 
                    <a class = "hyperlink-special" href = "https://www.youtube.com/channel/UCvixJtaXuNdMPUGdOPcY8Ag">The David Pakman Show</a>
                </p>
                <p class = "explanatoryParagraph">
                    For information about <span class = "decorated-text dangerous">COVID-19</span>: 
                    <a class = "hyperlink-special" href = "https://www.youtube.com/user/MEDCRAMvideos">MedCram</a>
                </p>
            </div>
        </div>
        <div class = "right-container">
            <div class = "aboutContainer">
                <div class = "parenthetical">
                    <p class = "explanatoryParagraph">
                        These are some of my favorite subjects.
                    </p>
                    <div class = "parentheticalContainer">
                        <span class = "generalTag">Physics</span>
                        <span class = "generalTag">Mathematics</span>
                        <span class = "generalTag">Astronomy</span>
                        <span class = "generalTag">Psychology</span>
                        <span class = "generalTag">Politics</span>
                        <span class = "generalTag">Internet Technology</span>
                        <span class = "generalTag">Computer Science</span>
                        <span class = "generalTag">Biochemistry</span>
                    </div>
                </div>
                <div class = "parenthetical">
                    <p class = "explanatoryParagraph">
                        These are some of my favorite equations.
                    </p>
                    <p class = "mathTexFormula">
                        <div class = "parentheticalContainer">
                        <span class = "equation">\( S = - k_{B} \sum P_{i} \, log \, (P_{i}) \)</span>
                        <span class = "equation">\( \iiint_{E} \nabla \cdot \textbf{F} \, dV = \iint_{S} \textbf{F} \cdot \, d\textbf{S} \)</span>
                        <span class = "equation">\( \nabla \cdot \textbf{E} = \frac{\rho}{\epsilon_{0}} \)</span>
                        <span class = "equation">\( m \, - \, M = 5 \, log \, (d) - 5\)</span>
                        <span class = "equation">\( \iint_{S} \nabla \times \textbf{F} \cdot \, d\textbf{S} = \int_{C} \textbf{F} \cdot \, d\textbf{r}  \)</span>
                        <span class = "equation">\( H(t) \, \ket{\psi(t)}  = i\hbar \, \frac{d}{dt} \ket{\psi(t)} \)</span>
                        <span class = "equation">\( \frac{d}{dt} (\frac{\partial L}{\partial \dot{q}} - \frac{\partial L}{\partial q}) = 0 \)</span>
                        </div>
                    </p>
                </div>
                <div class = "parenthetical">
                    <p class = "explanatoryParagraph">
                        These are some of the things I like to use.
                    </p>
                    <div class = "parentheticalContainer">
                        <span class = "generalTag skills">HTML</span>
                        <span class = "generalTag skills">CSS</span>
                        <span class = "generalTag skills">Javascript</span>
                        <span class = "generalTag skills">Node.js</span>
                        <span class = "generalTag skills">Vue.js</span>
                        <span class = "generalTag skills">Python 3</span>
                        <span class = "generalTag skills">NumPy</span>
                        <span class = "generalTag skills">Astropy</span>
                        <span class = "generalTag skills">Matplotlib</span>
                        <span class = "generalTag skills">PyQt5</span>
                        <span class = "generalTag skills">SciPy</span>
                        <span class = "generalTag skills">SymPy</span>
                        <span class = "generalTag skills">Pandas</span>
                        <span class = "generalTag skills">TensorFlow</span>
                        <span class = "generalTag skills">SQL</span>
                        <span class = "generalTag skills">\( \LaTeX \)</span>
                        <span class = "generalTag skills">Wolfram Mathematica</span>
                        <span class = "generalTag skills">Windows 10</span>
                        <span class = "generalTag skills">Scientific Linux</span>
                        <span class = "generalTag skills">Adobe Photoshop</span>
                        <span class = "generalTag skills">Adobe Lightroom</span>
                        <span class = "generalTag skills">Adobe Premiere</span>
                        <span class = "generalTag skills">Microsoft Office 365</span>
                    </div>
                </div>
                <div class = "parenthetical">
                    <p class = "explanatoryParagraph">
                        Unfortunately, I have a Faceb-- I mean a 
                        <i class = "hyperlink-italic"><a class = "hyperlink-general" href = "https://www.linkedin.com/in/d-watkins-i3rtpcr/">LinkedIn</a></i>. 
                        There, you can see my CV/résumé.
                    </p>
                    <p class = "explanatoryParagraph">
                        I also have a 
                        <i class = "hyperlink-italic"><a class = "hyperlink-general" href = "https://github.com/ErenMcLaren">Github</a></i>.
                        Yes, the name is correct.
                    </p>
                    <div class = "parentheticalContainer"></div>
                </div>
                <div class = "parenthetical">
                    <p class = "explanatoryParagraph">
                        If you'd like to contact me, put a full stop in between my first and last name [at] gmail [full stop] com.
                    </p>
                    <div class = "parentheticalContainer"></div>
                </div>
            </div>
        </div>
        </div>
    </div>